.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;

  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.fighter-preview___right {
  align-items: center;
}

.fighter-preview___left {
  align-items: center;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___img {
  max-width: 250px;
  max-height: 300px;
}

.fighterInfo {
  list-style-type: none;
  color: rgb(96, 233, 96);
  font-weight: 800;
  font-size: 30px;
  -webkit-text-stroke-width: 1px; 
   -webkit-text-stroke-color: rgb(0, 0, 0);
}